<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Animal Helper</title>
    <link rel="stylesheet" href="resetStyle.css" media="screen" title="no title" charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <!-- <h3>Filter Goes Here</h3>

    <div ng-controller="petSearch">
      <input type="text" name="name" value="" placeholder="Search by name" ng-model="animalNameIn">
      <button type="button" name="button" ng-click="searchAnimals()">Search</button>
    </div> -->

    <div ng-controller="viewChange">
      <ng-include src="'partials/header.html'"></ng-include>
      <ng-include src="activeTab.url"></ng-include>
    </div>


    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </body>
</html>
