body {
  background-color: #ff9980;
}

.animalImg {
  height: 200px;
  width: 300px;
}

#bannerImg {
  width: 100%;
  height: auto;
}

header {
  background-color: #809fff;
  text-align: center;
  margin-bottom: 15px;
}

header h1 {
  font-size: 3em;
}

header button {
  height: 75px;
  width: 300px;
  font-size: 2em;

}

header li {
  display: inline-block;
}

table {
  /*border: 1px solid black;*/
  margin: 5px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #FFFFFF;
}

td {
  padding-right: 10px;
  width: 20%;
}

td:last-child {
  padding-right: 0px;
}

input {
  height: 2em;
  width: 300px;
  margin-bottom: 5px;
}

#descIn {
  height: 75px;
  width: 350px;
}

#content {
  background-color: #d9d9d9;
  margin: auto;
  width: 75vw;
  padding: 10px;
}

#adoptButton {
  color: #ff0000;
  font-size: 1.5em;
  height: 75px;
  width: 150px;
  border-radius: 15px;
}

.animalName {
  color: #0066ff;
  font-size: 2em;
}

textarea {
  resize:both;
  overflow: auto;
}
