<div ng-controller="petAdd">
  <div id="content">
    <h3>Add an Animal</h3>
    <input type="text" placeholder="Animal Name" ng-model="nameIn" name="name" value=""><br/>
    <input type="text" placeholder="Type of Animal" ng-model="typeIn" name="name" value=""><br/>
    <input type="text" placeholder="Age of Animal" ng-model="ageIn" name="name" value=""><br/>
    <textarea type="text" placeholder="Description" ng-model="descIn" name="name" value="" id="descIn"></textarea><br/>
    <textarea type="text" placeholder="URL link" ng-model="urlIn" name="name" value=""></textarea><br/>
    <button type="button" ng-click="addAnimal(); tabSelect(1)" name="button">Create Animal</button>
  </div>
</div>
